@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nerko+One&family=Sevillana&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');*/
main{ 
    background-image: url(./bg-3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: none;
    color: #333333;
}
.wel{
font-size: 40px;  
font-family: "Trirong", serif;
color:#4A2C2A 
}
.h-f-bg {
    background-color: #F5E0C3; }


.h_f_t{
    color: #5A3825; 
}
.h_f_t:hover{
    text-decoration: underline;
    
}
.mainPara{
    color:#4A2C2A;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.exploreRecipeBtn:hover{
    color: white;
    background-color: black;

}
#submit:hover{
    color: aliceblue;
    background-color: black;
}

#inpG{
    height: 40px;
}

.title{
    font-family: "Baskervville SC", serif;
    color: rgb(80, 16, 88);
}
.area{
    font-family: "Sevillana", cursive;
    color: #5A3825;
}
.instruction{
    font-family: "Open Sans", sans-serif;
    
}
.headIntru{
    font-family: "Nerko One", cursive;

}
.headIng{
    font-family: "Caveat", cursive;
}

.heading
{
    font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}

.about-us h2{
    font-family: "Nerko One", cursive;
}
.about-us p{
    font-family: "Inconsolata", monospace;
}

